/*
    You can add your own custom styles here.
*/
@font-face {
    font-family: "LXGWWenKai-Regular";
    src: url("/fonts/LXGWWenKai-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SourceHanSerif";
    src: url("/fonts/SourceHanSerifCN-Regular.ttf") format("truetype");
    unicode-range: U+1000-fffff
}